<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">
    <table class="table">
       <thead class="thead-dark">
         <tr>
           <th>Variable</th>
           <th>Pipe</th>
           <th>Salida</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>{{nombre}}</td>
           <td>uppercase</td>
           <td>{{nombre | uppercase }}</td>
         </tr>
         <tr>
          <td>{{nombre2}}</td>
          <td>capitalizado</td>
          <td>{{nombre2 | capitalizado:false }}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>uppercase</td>
          <td>{{nombre | uppercase }}</td>
        </tr>
         <tr>
          <td>{{nombre}}</td>
          <td>pastword {{activado}}
            <br>
            <button class="btn btn-outline-primary" (click)="activado = !activado">
              Activar/Desactivar</button>
          </td>          
          <td>{{nombre | myPastWord:activado}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>slice:3</td>
          <td>{{nombre | slice:3 }}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>slice:0:3</td>
          <td>{{nombre | slice:0:3 }}</td>
        </tr>
        <tr>
          <td>{{myArray}}</td>
          <td>slice:1:5</td>
          <td>{{myArray | slice:1:5 }}</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td>number</td>
          <td>{{PI | number }}</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td>number entero</td>
          <td>{{PI | number:'1.0-0'}}</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td>number entero con 3 posiones</td>
          <td>{{PI | number:'3.0-0'}}</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td>todos los enteros pero los decimales solo los 3 primeros aproximados</td>
          <td>{{PI | number:'.0-3'}}</td>
        </tr>
        <tr>
          <td>{{myPorcentaje}}</td>
          <td>los convierte en formato de %</td>
          <td>{{myPorcentaje | percent}}</td>
        </tr>
        <tr>
          <td>{{myPorcentaje}}</td>
          <td>los convierte en formato de %, con ajuste del formato</td>
          <td>{{myPorcentaje | percent:'2.2-2'}}</td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td>currency</td>
          <td>{{salario | currency}}</td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td>currency in Euros</td>
          <td>{{salario | currency:'EUR'}}</td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td>currency in CAD</td>
          <td>{{salario | currency:'CAD':'symbol-narrow':'.0-0'}}</td>
        </tr>
        <tr>
          <td>{{valorPromesa}}</td>
          <td>async</td>
          <td>{{valorPromesa | async}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>formatos fecha</td>
          <td>{{fecha | date}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>formatos fecha: medium</td>
          <td>{{fecha | date:'medium'}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>formatos short</td>
          <td>{{fecha | date:'short'}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>formatos personalizada</td>
          <td>{{fecha | date:'MMMM - dd' : 'esp'}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'MMMM - dd' : '':'{{idioma}}'</td>
          
          <button class="mr-1 btn btn-primary" (click) = "idioma = 'es'">Español</button>
          <button class="mr-1 btn btn-secondary" (click) = "idioma = 'en'">Inglés</button>
          <button class="mr-1 btn btn-success" (click) = "idioma = 'fr'">Francés</button>
          <td>{{fecha | date:'MMMM - dd' : '':idioma}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'MMMM - dd' : '':'fr'</td>
          <td>{{fecha | date:'MMMM - dd' : '':'fr'}}</td>
        </tr>
       </tbody>
    </table>

    <h4>slice:5:9</h4>
    <ul>
      <li *ngFor="let item of myArray | slice:5:9; let i=index ">{{item}}</li>
    </ul>

    <h3>JSON</h3>
    <hr>
    <div class="row mb-5">
      <div class="col">
        <pre>
          {{hero | json}} 
        </pre>        
      </div>
    </div>

    <h3 class="mt-4">Domseguro</h3>
    <hr>
     <div class="row mb-5">
       <div class="col">
        <iframe width="560" height="315" [src]="videoUrl | domseguro"
         frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
     </div>

  </div>
</div>